body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.bg-custom-green {
  background-color: #5a9;
}

.balloon {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  /* Adjust the background to display your balloon icon */
  background: url('balloon.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.balloon-enter {
  opacity: 0;
  transform: translateY(0);
}

.balloon-enter-active {
  opacity: 1;
  transform: translateY(-100%);
  transition: opacity 500ms, transform 5s ease-out;
}

.balloon-exit {
  opacity: 1;
}

.balloon-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
